.*
*.out
*~
*#
*#.*
*.bak
build
*.cache
*.class
*.classtmp
Debug
*.diff
dist
_dump
*.ear
*.emergency
/gen
!.gitignore
!gradle-wrapper.jar
*.iml
*.ipr
*.iws
*.jar
javadoc
*.kate-swp
*.komodoproject
*.launch
lib_managed
lib_managed/
local.properties
*.lock
*.lock*.vim
log
*.log
logs
out
project/project
*.ser
src_managed
target
test-result
tm*.lck
tmp
*.tmp
*.war